:host {
    display: block;
  }
  
  ul {
    text-align: center;
    padding: 0;
    list-style-type: none;
  }
  h1 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-weight: 300;
  }
 .dropdown-container{
    height: 100%;
 } 